.hoverTable{
    width:100%;
    border-collapse:collapse;
}
.hoverTable td{
    padding:7px; border:#4e95f4 1px solid;
}
/* Define the default color for all the table rows */
.hoverTable td:not(:first-child){
    background: #b8d1f3;
    width: 60px;
}
/* Define the hover highlight color for the table row */
.hoverTable td:not(:first-child):hover{
    background-color: #ffff99;
}

.cell_disabled       { background-color:grey !important }
.cell_booked       { background-color:red !important }
.cell_choosed        { background-color:green !important }
