.hoverTable{
    width:100%;
    border-collapse:collapse;
}
.hoverTable td{
    padding:7px; border:#4e95f4 1px solid;
}
/* Define the default color for all the table rows */
.hoverTable td:not(:first-child){
    background: #black;
    width: 60px;
}

.cell_disabled       { background-color:grey !important }
.cell_otherBooked       { background-color:red !important }
.cell_clickedOtherBooked       { background-color:orange !important }
.cell_freeSlot        { background-color:#b8d1f3 !important }
.cell_freeSlot:hover { background-color:#ffff99 !important }
.cell_clickedFreeSlot { background-color:green !important }
.cell_bookedSlot { background-color:yellow !important }
.cell_clickedBookedSlot { background-color:orange !important }



.rowChoice        { background-color:#b8d1f3 }
.rowChoice:hover { background-color:#ffff99 }
.rowClicked { background-color:green !important }
.rowChoosed { background-color:#007bff !important }
#doctorChooseTable  {
    margin-top:  20px;
    /* overflow: auto; */
    /* border: 1px solid #000000; */
    border: 1px solid #dee2e6;
}
/* .doctorChooseHeaderDiv { margin-top: -20px; position: absolute;} */
.doctorChooseHeader { background-color:#007bff !important }
#doctorTr{
    background-color:#b8d1f3 !important
}



input {
    margin-top: 5px;
    margin-bottom: 5px;
    display:inline-block;
    *display: inline;     /* for IE7*/
    zoom:1;              /* for IE7*/
    vertical-align:middle;
    margin-left:20px
}
select {
    margin-top: 5px;
    margin-bottom: 5px;
    display:inline-block;
    *display: inline;     /* for IE7*/
    zoom:1;              /* for IE7*/
    vertical-align:middle;
    margin-left:20px
}

label {
    display:inline-block;
    *display: inline;     /* for IE7*/
    zoom:1;              /* for IE7*/
    float: left;
    padding-top: 5px;
    text-align: right;
    width: 140px;
}

fieldset
{
    border: 1px solid #ddd !important;
    margin: 0;
    xmin-width: 0;
    padding: 10px;
    position: relative;
    border-radius:4px;
    background-color:#f5f5f5;
    padding-left:10px!important;
}

    legend
    {
        font-size:14px;
        font-weight:bold;
        margin-bottom: 0px;
        width: 35%;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px 5px 5px 10px;
        background-color: #ffffff;
    }

#inputDate{
    display: block;
    width: 60%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    position: sticky; left: 0;
}

#specializationList{
    display: block;
    width: 60%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.custom-button {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    display: block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.legend { list-style: none; }
.legend li { float: left; margin-right: 10px; }
.legend span { border: 1px solid #ccc; float: left; width: 12px; height: 12px; margin: 2px; }
