body {
    margin: 0;
    background-image: url("../images/doctors.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.center {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100%;
}

.box {
    margin: auto;
    border-radius: .5em;
    font-size: 1rem;
    background: white;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    border: 0px solid #ced4da;
    width: 25vw;
    height: auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.wrapper p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* color: #0062cc; */
    text-decoration: none;
}

@media screen and (max-width: 800px) {
    .box {
        width: 80%;
        align-items: center;
    }
    .wrapper {
        width: 100%;
    }
}

a {
    display: inline-blocki;
    color: #007bff;
    text-decoration: none;
    position: relative;
}

/* Animate underline */
a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #007bff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

a:hover:after {
    width: 100%;
    left: 0;
}

@media (max-width: 750px) {
    .wrapper {
        width: 80vw;
    }
}

.form-group {
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: black;
}

.form-group label {
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .5);
}

.btn {
    cursor: pointer;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn:focus {
    outline: 0;
}

.has-error {
    color: red;
}

.corner {
    display: block;
    top: 0px;
    position: relative;
    width: 100%;
    height: 48px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    border-top-left-radius: 0.5em;
    pointer-events: none;
}

.corner::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    left: -16px;
    background: #6bb6e9;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(2);
    transform-origin: 50% 50%;
    transition: -webkit-transform 0.15s ease-out;
    transition: transform 0.15s ease-out;
    transition: transform 0.15s ease-out, -webkit-transform 0.15s ease-out;
    cursor: pointer;
    pointer-events: auto;
}

.corner:hover::before {
    transform: scale(2.5);
}

.corner:hover .go-arrow {
    transform: scale(1.5);
    transform-origin: 50% 50%;
}

.go-corner {
    display: -webkit-box;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 32px;
    height: 32px;
    padding: 8px 8px;
    overflow: hidden;
    top: 0;
    right: 0;
    background-color: #6bb6e9;
    border-radius: 0 4px 0 32px;
}

.go-arrow {
    display: inline-block;
    padding: 0 6px;
    color: white;
    font-family: courier, sans;
    font-size: 1.6rem;
    z-index: 1;
}