footer {
    flex-shrink: 0;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    flex-direction: row;
    padding: 10px 0;
    background: rgb(52, 107, 174);
    color: #ffffff;
}

.footer-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer img {
    width: 10%;
    height: auto;
}

footer small {
    margin-right: 10px;
}

.footer-text a {
    text-decoration: none;
    color: lightskyblue;
}

.footer-text a:hover {
    color: lawngreen;
    transition: 0.3s;
}