.content {
    padding: 10px 10rem;
}

h2 {
    font-family: "Asap", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-align: left;
}

.text-teal {
    color: #00bcd1 !important;
}

span {
    display: block;
}

.contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.address {
    /* display: block; */
    margin-bottom: 2rem;
    margin-right: 2rem;
}

.address span.title {
    font-size: 20px;
    margin-bottom: 5px;
    color: #333333;
    font-weight: 400;
    font-family: "Asap", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.address span {
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.375;
    font-weight: 300;
    color: #9b9b9b;
}

.address-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}

.form-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-group {
    margin-bottom: 10px;
}

.form-input {
	display: block;
	width: 100%;
	min-height: 54px;
	padding: 13px 19px;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	color: #a3a3a3;
	background-color: #f4f4f4;
	background-image: none;
	border-radius: 6px;
	border: 1px solid #f4f4f4;
    margin-bottom: 10px;
}

textarea.form-input {
    height: 135px;
	min-height: 54px;
	max-height: 230px;
	resize: vertical;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .5);
}

.btn-secondary, -btn-secondary:focus {
    color: #ffffff;
    background-color: #00bcd1;
    border-color: #00bcd1;
}

.btn-secondary:hover {
    color: #ffffff;
    background-color: #346bae;
    border-color: #346bae;
    transition: 250ms all ease-in-out;
}

.btn {
    cursor: pointer;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn:focus {
    outline: 0;
}

.error {
    display: block;
    font-size: 0.75em;
    color: red;

}

.blink {
    animation: blink-animation 0.5s 2;
}

@keyframes blink-animation {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}